* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    height: 100vh;
}
body, html {
    width: 100%;
    /* overflow-x: hidden; */
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    max-width: 100vw;
    height: 64px;
}
.hamburger, .cart {
    height: 20px;
    width: 20px;
}

p {
    text-align: center;
    font-family: 'roboto',sans-serif;
    font-size: 18px;
}

.container {
    width: 100%; /* Ensure container is full width */
    height: 100%;
    display: flex;
    flex-direction: column;

}

.mens-outerwear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36%;
    width: 100%;
    margin-bottom: 40px;
}

.mens-outerwear p{
    font-size: 17px;
    padding: 0; 
    margin:24px 0;
}

.ladies-outerwear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36%;
    width: 100%;
    margin-bottom: 40px;
}

.ladies-outerwear p{
    font-size: 17px;
    padding: 0; 
    margin:24px 0;
}
.t-shirt {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 30%;
    width: 100%;
    margin: 0 0 40px ;
}

.mens-tshirt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.ladies-tshirt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.image {
    width: 100%; /* Full width of the parent container */
    height: 75%; /* Set desired height */
    background-size: cover; /* Ensures the background image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
}

.t-shirt p{
    font-size: 14.3px;
    padding: 0; 
    margin:24px 0;
}

.t-shirt button{
    padding: 8px 24px;
}

.mens-outerwear .image{
    background-image: url("./images_home_screen/mens_outerwear.jpg");
}

.ladies-outerwear .image{
    background-image: url("./images_home_screen/ladies_outerwear.jpg");
}

.mens-tshirt .image{
    background-image: url("./images_home_screen/mens_tshirts.jpg");
}

.ladies-tshirt .image{
    background-image: url("./images_home_screen/ladies_tshirts.jpg");
}

.category-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border-color: black;
    background-color: white;
    font-size: 14px;
    padding: 8px 44px;
    font-weight: 500;
    border-color: black;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-bar{
    display: none;
    justify-content: center;
    padding: 25.5px;
}

.categories{
    display: flex;
    width: 500px;
    justify-content: space-around;
}

.categories p{
    font-size: 13px;
}

@media(min-width:769px) and (max-width:1024px){
    .categories-bar{
        display: flex;
    }

    .hamburger{
        display: none;
    }

}

@media(min-width:1025px){
    .categories-bar{
        display: flex;
    }

    .hamburger{
        display: none;
    }

}

.mens-outerwear-header{
    display:flex;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
}

.mens-outerwear-header h3{
    font-size: 14.3px;
    font-weight: 400;
    margin: 0 0 4px;
}

.mens-outerwear-header p{
    font-size: 12px;
    opacity: 0.6;
}

.product-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 products per row for mobile */
    gap: 24px;
}

.product {
    text-align: center;
}

.product-image img {
    width: 82%; /* Make the image take up full width */
    aspect-ratio: 1 / 1; /* Ensures square image */
    object-fit: cover; /* Ensures image covers the container while maintaining aspect ratio */
    margin: 21px 0;
}

.product-title {
    font-size: 13px;
}

.product-price {
    font-size: 13px;
}

/* Tablet and Web view (3 products per row) */
@media (min-width: 769px) {
    .product-catalog {
        grid-template-columns: repeat(3, 1fr); /* 3 products per row */
    }
}




